{% extends "wb/passages.html" %}
{%block breadcrumb%}
<li><a href="/">首页</a></li>
<li><a href="/webboard/passages/?type={{object.type}}">信息中心</a></li>
<li class='active'>新闻正文</li>
{%endblock%}
{% block passage_main %}
<div id="feeds-container">
	<h3 class='text-center feeds-details-title'>{{object.title}}</h3>
	<div class='text-center feeds-details-info'>
		{{object.created_time}} by @ <a href="{{object.author.url}}">{{object.author.profile.display_name}}</a>
	</div>
	<div class='feeds-details-text'>
		{{object.content|safe}}
	<div>
</div>
<br/>
<ul class="list-group mese2014-list-group" id="cmtList">

</ul>
<div class="pager">
	<button class="btn btn-link pull-left" id="prevBtn">上一页</button>
	<button class="btn btn-link pull-right" id="nextBtn">下一页</button>
</div>
<form id="cmtForm" role="form">
	<div class="col-md-12 input-group">
		<input class="form-control form-login col-md-4" name="content" id="content"/>
		<input type="submit" class="btn btn-mese2014-success btn-mese2014" value="评论"/>
	</div>
</form>
<script type="text/javascript">
$(function(){
	var passageId = {{object.id}}, apiPassage = API.url('passages').id(passageId),
		updateFunc = API.list({
			apiUrl: apiPassage.url("comments"),
			next: "nextBtn",
			prev: "prevBtn",
			container: "cmtList",
			template: '<li class="list-group-item">{content}<span class="pull-right">{created_time} @ <a href="{author.url}">{author.profile.display_name}</a></span></li>'
		});
	$("#cmtForm").submit(function(e){
		e.preventDefault();
		var data = $(this).serializeObject();
		if (!data.content){
			$("#content").error();
			return false;
		}
		$("#content").val("");
		apiPassage.url('comments').post(data).ok(updateFunc);
		return false;
	});
});
</script>
{% endblock %}
