{% extends "index.html" %}
{% block main_content %}
<script src="/static/js/passages.js"></script>
<div class="container">
  <div class="col-md-8 hidden-xs hidden-sm">
    <div id="bcon"><ol class="breadcrumb breadcrumb-mese2014">
      <li><a href="/">首页</a></li>
      <li class="active">信息中心</li>
    </ol></div>
    <div id="ncon"><div class="nav nav-tabs nav-mese2014">
      <li><a href="?type="><i class="fa fa-circle fa-fw"></i>所有新闻</a></li>
      <li><a href="?type=GOV"><i class="fa fa-bank fa-fw"></i>政府&会务</a></li>
      <li><a href="?type=MED"><i class="fa fa-rss fa-fw"></i>媒体信息</a></li>
      </div>
    </div>
    <div class="list-group" id="feeds-container">
    </div>
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
  </div>
  <script>
    $(document).ready(function(){
      var passage = new MESEIO();
      utype=$.getUrlParam("type");
      feedid=$.getUrlParam("id");
      console.log(utype+","+feedid);
      if(!feedid){ passage.loadfeeds(utype)}
      else if (feedid) {
        passage.loadfdetails(feedid)
      }
    })
  </script>
</div>
{% endblock %}