{% extends "index.html" %}
{% block main_content %}
<div class="container">
  <div class="col-md-8 hidden-xs hidden-sm">
    <div id="bcon"><ol class="breadcrumb breadcrumb-mese2014">
    	{% block breadcrumb %}
      <li><a href="/">首页</a></li>
      <li class="active">信息中心</li>
      {% endblock %}
    </ol></div>
    <div id="ncon"><div class="nav nav-tabs nav-mese2014">
      <li><a href="/webboard/passages/?type="><i class="fa fa-circle fa-fw"></i>所有新闻</a></li>
      <li><a href="/webboard/passages/?type=GOV"><i class="fa fa-bank fa-fw"></i>政府&会务</a></li>
      <li><a href="/webboard/passages/?type=MED"><i class="fa fa-rss fa-fw"></i>媒体信息</a></li>
      {%if perms.webboard.publish_passage %}
      <li class="pull-right"><a href="write"><i class="fa fa-pencil fa-fw"></i> 发布新信息</li></a>
      {% endif %}
      </div>
    </div>
    {% block passage_main %}
    <div class="list-group" id="feeds-container">
    </div>
    <div class="pager">
			<button class="btn btn-link pull-left" id="prevBtn">上一页</button>
			<button class="btn btn-link pull-right" id="nextBtn">下一页</button>
		</div>
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
  </div>
  <script>
    $(document).ready(function(){
      var $feeds = $("#feeds-container"), icons = {
      	'MED': 'fa-rss',
      	'GOV': 'fa-bank',
      	'CON': 'fa-bank'
      },	$prevBtn = $("#prevBtn"), $nextBtn = $("#nextBtn");
			$("#prevBtn, #nextBtn").click(function () {
				API.raw($(this).data('url')).get().ok(updateFeeds);
			});
    	function updateFeeds(data) {
				var elements = [];
				adjustPager($prevBtn, data.previous);
      	adjustPager($nextBtn, data.next);
      	$(data.results).each(function(){
      		this.icon = "<i class='fa {icon}'></i>".render({icon:icons[data.type]});
      		elements.push("<div class='feeds'><div class='feeds-title'>{icon}<a href='{id}/'>{title}</a><em class='pull-right feeds-info'>{author.profile.display_name}@{created_time}</em></div></div>".render(this));
      	});
      	$(elements.join('')).appendTo($feeds);
    	}
			function adjustPager($btn, data) {
				if (data) {
					$btn.show();
					$btn.data('url', data);
				} else $btn.hide();
			}
      utype=$.getUrlParam("type")||'';
      API.url("passages").param("type", utype).get().ok(updateFeeds);
    })
  </script>
  {% endblock %}
</div>
{% endblock %}
