{% extends "index.html" %}
{% block extra_head %}
	{% include "cdn_fileupload.html" %}
	<script type="text/javascript">
		window.data = decodeJSON('{{json|safe}}');
		window.isSelf = "{{is_self}}"==="True"?true:false;
	</script>
{% endblock %}

{% block main_content %}
{% with info=user_object.profile %}
<div class="container">
  {% ifequal info.account_type "person" %}
  	{% with reports_field="consumption_reports" reports_title="消费报告" %}
			{% include "accounts/profile/person.html" %}
		{% endwith %}
  {% endifequal %}
  {% if info.account_type == "company" or info.account_type == "bank" or info.account_type == "fundcompany" %}
	  {% with reports_field="financial_reports" reports_title="财务报告"%}
			{% include "accounts/profile/company.html" %}
		{% endwith %}
  {% endif %}
  {% ifequal info.account_type "media" %}
  	{% include "accounts/profile/media.html" %}
  {% endifequal %}
	{% ifequal info.account_type "government" %}
		{% include "accounts/profile/government.html" %}
	{% endifequal %}
</div>
{% endwith %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function(){
	var a = $("a[href='"+$.getAnchor()+"']");
	if (!a.length)
		a = $("a[data-toggle='pill']").first();
	a.tab('show');
});
</script>
{% endblock %}
