{% extends "index.html" %}
{% block main_content %}
<div class="container">
  <div class="col-md-3 hidden-xs hidden-sm">
  {% ifequal user.profile.info.account_type "person" %}
    <div class="panel panel-default utinfo">
      <div class="panel-body">
        用户名：{{user.profile.info.display_name}}<br>
        性别：{{user.profile.info.sex}}<br>
        所属公司：{{user.profile.info.company.display_name}}<br>
      </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#aa" data-toggle="pill">资产分析</a></li>
      <li><a href="#pr" data-toggle="pill">个人报告</a></li>
    </ul>
  {% endifequal %}
  {% ifequal user.profile.info.account_type "company" %}
    <div class="panel panel-default utinfo">
      <div class="panel-body">
        公司名：{{user.profile.info.display_name}}<br>
        简介：{{user.profile.info.description}}<br>
        联系方式：{{user.profile.info.contact}}<br>
      </div>
    </div>
    <ul class="nav nav-pills nav-stacked nav-utinfo">
      <li><a href="#mb" data-toggle="pill"><i class="fa fa-2x fa-users"></i> 成员名单</a></li>
      <li><a href="#aa" data-toggle="pill"><i class="fa fa-2x fa-bar-chart-o"></i> 资产分析</a></li>
      <li><a href="#nm" data-toggle="pill"><i class="fa fa-2x fa-pencil"></i>&nbsp;&nbsp;发布新闻</a></li>
    </ul>
  </div>
  <div class="col-md-9 hidden-xs hidden-sm">
    <div class="tab-content">
      <div class="tab-pane fade in" id="aa">..</div>
      <div class="tab-pane fade" id="pr">..</div>
    </div>
  </div>
  {% endifequal %}
</div>
{% endblock %}