{% extends "index.html" %}
{% block main_content %}
<script type="text/javascript" src="/static/js/captcha.js"></script>
<main class="login" role="main">
	<div class="container">
  <form id="setps-form">
		<div class="form-group" id="ufg">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-key fa-fw"></i>
				</div>
		  	<input type="password" name="old_password" class="form-control form-login" id="inputOldPassword" placeholder="请输入旧密码" >
			</div>
		</div>
		<div class="form-group" id="pfg">
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-key fa-fw"></i>
				</div>
				<input type="password" name="new_password" class="form-control form-login" id="inputPassword" placeholder="请输入新密码" >
			</div>
		</div>
		<div class="container"  style="padding-left:0;">
			<div class="input-group col-md-7" style="padding-left:0;">
				<input type="text" name="captcha" class="form-control col-md-12" id="captcha">
			</div>
				<div class="col-md-5">
				<img id="captchaImg" class="pull-right"/>
				</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-login">确认</button>
		</div>
  </form>
  </div>
</main>
<script>
$(function() {
	$("#captchaImg").captcha();
	var $form = $("#setps-form"), $old=$("#inputOldPassword"), $new=$("#inputPassword"), reg = /^.{6,20}$/;
	$("#setps-form").submit(function(e){
		e.preventDefault();
		if (!$new.val()||!reg.test($new.val())) {
			$new.error();
			return false;
		}
		API.url('users').url('my').url('set_password').post($form.serializeObject())
		.ok(function(data) {
			console.log('ok');
			window.location.href = '/';
		})
		.paramError(function(){
			$old.error();
		})
		.captchaError(function(){
			console.log('captcha error');
		});
		return false;
	});
});
</script>
{% endblock %}
