{% extends "index.html" %}
{% block main_content %}
<script src="/static/js/highcharts.js"></script>
<div class="container">
  <div class="col-md-8">
    <div class="panel panel-default panel-mese2014">
      <div class="panel-heading">
        股票版块<a href="/stocks/" class="pull-right">详细情况</a>
      </div>
      <div class="panel-body">
        <div class="chart-container col-md-7 hidden-xs" id="stock-chart">
        </div>     
        <div class="col-md-5">
        <table class="table">
          <thead>
            <th>序号</th>
            <th>名称</th>
            <th>价格</th>
          </thead>
          <tbody id="stbody">
            
          </tbody>
        </table>
            <div class="btn btn-mese2014" id="s_prev_btn">前一页</div>
            <div class="btn btn-mese2014" id="s_next_btn">后一页</div>
          </div>
      </div>
    </div>
    <div class="col-md-4 hidden-sm hidden-xs" id="sidenav">
    </div>
  </div>
</div>
<script>
  API.list({
	apiUrl: API.url("stocks"),
	container: "stbody",
	prev: "s_prev_btn",
	next: "s_next_btn",
	template: "<tr><th>{id}</th><th>{display_name}</th><th>{current_price}</th>"  
  })
  $(document).ready(function(){Highcharts.setOptions({global:{useUTC:false}})})
  $('#stock-chart').highcharts({
    chart:{
      type:'spline',
      marginRight:10,
      animation: Highcharts.svg,
      backgroundColor:"transparent",
      borderColor:"#CCC",
      borderRadius:0,
      borderWidth:1,
      showAxes:true,
      events: { load: function() { // set up the updating of the chart each second 
      var series = this.series[0]; setInterval(function() { var x = (new Date()).getTime(), // current time 
      y = Math.random(); series.addPoint([x, y], true, true); }, 1000); } }
    },
    tooltip:{
      backgroundColor:"#F1C200",
      borderRadius:0,
      borderWidth:0,
      formatter: function(){
        return Highcharts.dateFormat("%e,%b",this.x)+" "+this.y;
      }
    },
    title:{
      text:"股票名",
      align:"left",
      style:{
        "color":"#DDD",
        "fontSize":"14px",
      }
    },
    credits:{
      href:"detail/1/",
      text:"查看详情",
    },
    xAxis:{
      type:'datetime',
      tickInterval : 1000*60*5,
    },
    yAxis:{
      title: {
        text: '股价'
      },
      plotLines:[{
        value: 0,
        width: 1,
        color: '#CCC'
      }],
    },
    legend:{enabled:false},
    exporting:{enabled:false},
    series:[{
      name: 'Random data', data: (function() { // generate an array of random data 
      var data = [], time = (new Date()).getTime(), i; for (i = -19; i <= 0; i++) { data.push({ x: time + i * 1000, y: Math.random() }); } return data; })() 
    }]
  })
</script>
{% endblock %}