{% extends "accounts/profile/base-profile.html" %}
{% block sidebar %}
<div class="panel panel-default utinfo">
  <div class="panel-body">
    用户名：{{info.display_name}}<br>
    性别：{{info.gender}}<br>
    职位：{{info.position}}<br>
    行业：{{info.industry}}<br>
    所属公司：<a href="{{info.company.url}}">{{info.company.display_name}}</a><br>
  </div>
</div>
<ul id="menu" class="nav nav-pills nav-stacked nav-utinfo">
  {{block.super}}
</ul>
{% endblock %}

{% block config_form %}
<div class="form-group">
	<input type="text" placeholder="性别" name="gender" class="form-control">
</div>
<div class="form-group">
	<input type="text" placeholder="职位" name="position" class="form-control">
</div>
{% endblock %}

{% block tabs %}
{{block.super}}
{% endblock %}
	
{% block extra_script %}
{{block.super}}
{% endblock %}
