{% extends "index.html" %}
{% block main_content %}
<div class="container">
  <aside class="col-md-2 hidden-xs hidden-sm">
    <div class="row utinfo">
    </div>
    <ul class="row nav sidenav">
      <li class="active"><a data-toggle="tab" href="#CON">会务信息</a></li>
      <li><a data-toggle="tab" href="#MED">媒体信息</a></li>
      <li><a data-toggle="tab" href="#COM">公司信息</a></li>
      <li><a data-toggle="tab" href="#GOV">政府信息</a></li>
      <li><a data-toggle="tab" href="#NEW">发布新公告</a></li>
    </ul>
    <script src="/static/js/passages.js">
	  $(".sidenav li").click(
	    function(e){
			e.preventDefault()
			$('.sidenav .active').removeClass("active");
			$(this).addClass("active");
			$(this,"a").tab("show");
			loadpassages($(this).attr("id"));
		});
    </script>
  </aside>
  <main class="col-md-4 no-pad hidden-xs hidden-sm">
    <div class="tab-content" id="p_list">
      <div class="tab-pane fade in active" id="CON">
      </div>
      <div class="tab-pane fade" id="MED">
        <div class="list-group" id="MEDC">
          <a href="#" class="list-group-item active">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
          <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
          <a href="#" class="list-group-item">Morbi leo risus</a>
          <a href="#" class="list-group-item">Porta ac consectetur ac</a>
          <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
      </div>
      <div class="tab-pane fade" id="COM">
        <p>sdfhskjdfhlksdhfklsdflk</p>
      </div>
      <div class="tab-pane fade" id="GOV">
        <p>sdfjhslkjdfklsd</p>
      </div>
      <div class="tab-pane fade" id="NEW">
      </div>
    </div>
  </main>
  <script src="/static/js/passages.js">
  	$(".collapse").collapse();
  </script>
</div>
{% endblock %}