<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	 {% include "cdn.html" %}
  </head>
  <body>
    <nav class="mese-header" role="navigation">
	  <div class="navbar-inner">
	    <div class="container">
               <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mese-navbar-collapse">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
		      </button>
			<a class="navbar-brand" href="#">Mese2014</a>
               </div>
		  <div class="collapse navbar-collapse" id="mese-navbar-collapse" style="height :50px;">
	        <ul class="nav">
		      <li><a href="/">首页</a></li>
		      <li><a href="#">交易大厅</a></li>
		      <li><a href="#">新闻中心</a></li>
		      <li><a href="/accounts/login">登录</a></li>
		    </ul>
	      </div>
		</div>
	  </div>
	</nav>
	{% block main_content %}
	{% endblock %}
    <script>
	  $(document).ready(function() {
	    $('#mese-navbar-collapse').collapse('show');
	  })
	</script>
  </body>
</html>
