<!DOCTYPE HTML>
<html>
<head>
	<script src="http://www.lib.sinaapp.com/js/jquery/1.10/jquery-1.10.0.js"></script>
	<script src="/static/js/uploadify.js"></script>
	<script src="/static/js/swfobject.js"></script>
	<script>
	$(function() {
		$("#file").uploadify({
			'swf': '/static/img/uploadify.swf',
			'uploader': '/api/files/public/',
			'cancelImg': '/static/img/uploadify-cancel.png',
			'auto': true,
			'method':'patch',
			'fileObjName': 'file',
			'queueID': 'fileQueue',
			'onUploadSuccess': function(file, data, response) {
				console.log(data);
			}
		});
	});
	</script>
</head>

<body>
	<div id="fileQueue"> </div>
	<input type="file" name="file" id="file" style="position:relative;right:99999px;"/>
</body>
</html>