<script src="/static/ckeditor/ckeditor.js"></script>
  <script src="/static/ckeditor/config.js"></script>
  <script src="/static/js/jquery.ui.widget.js"></script>
	<script src="/static/js/jquery.iframe-transport.js"></script>
	<script src="/static/js/jquery.fileupload.js"></script>
	<link href="/static/css/jquery.fileupload.css" rel="stylesheet">
  <form id="p_new" role="form">
    <div class="input-group" style="margin-top:10px;">
     <span class="input-group-addon">标题</span>
    <input class="form-control" type="text" id="title" name="title">
    </div>
  <div class="input-group col-md-12" style="padding:0;margin-top:10px">
    <textarea class = "form-control col-md-12" rows="30" cols="50" id="content" name="content">{{object.content}}</textarea>
  </div>
  <div id="attachments" class="hidden">
  
  </div>
  <div class="input-group col-md-12">
  <input class="btn btn-mese2014" type="submit" value="提交"/>
  <a class="btn btn-mese2014">取消</a>
  </div>
  </form>
    <form id="uploadForm" role="form">
		<div class="fileinput-button btn">
  		<span>添加附件...</span>
  		<input type="file" name="file" id="file" />
		</div>
		<ul id="list" class="list-group">

		</ul>
  </form>
  <script type="text/javascript">
    CKEDITOR.replace('content');
	$(function(){
		function insertAttachment(data) {
				var  
				insertion=/^.+\.(jpg|gif|png)$/i.test(data.name)?"<br><img src='{url}' style='max-width:100%;'></img>":"<br><a href='{url}'>{name}</a>"; 
				insertion = insertion.render(data);
				data.insertion=insertion;
				$('<li class="list-group-item"><a href="javascript:void(0);" class="main">{name}</a><a href="javascript:void(0);" class="pull-right del">删除</a></li>'.render(data)).data(data).appendTo($("#list"));
				$('<input type="text" value="{id}" name="attachments">'.render(data)).appendTo($("#attachments"));		
				return insertion;
		};
		var objectId = "{{object.id}}";
		objectId&&API.url('passages').id(objectId).get()
		.ok(function(data){
			$(data.attachments).each(function () {insertAttachment(this);});
		});
		window.submit||(window.submit = function (data) {
		return API.url("passages").post(data);
		});
		window.editor = CKEDITOR.instances['content'];
		$("#list").delegate('a.main', 'click', function(){
				var data = $(this).parent().data();
				editor.insertHtml(data.insertion);
			})
		.delegate('a.del', 'click', function(){
				var data = $(this).parent().data();
				API.url('files').url('public').id(data.id).delete();
				$(this).parent().remove();
			});
		$("#uploadForm").fileupload({
			url: "/api/files/public/",
			autoUpload: true,
			dataType: 'json',
			formAcceptCharset: "unicode",
			done: function (e, xhr) {
				editor.insertHtml(insertAttachment(xhr.result));
			},
			progressall: function(e, data) {
				var p=parseInt(data.loaded / data.total * 100, 10);
				console.log(p);
			}
		});
		$("#file").change(function(){
			$("#uploadForm").fileupload("send");
		});
		$("#p_new").submit(function(e){
			e.preventDefault();
			var data = $(this).serializeObject();
			data.content = editor.getData();
			if (data.attachments&&typeof data.attachments === 'string') {
				data.attachments = [data.attachments];
			}
			if (!(data.title&&data.content)) {
				!data.title&&$("#title").error();
				!data.content&&$("#content").error();
				return false;
			}
			window.submit(data).
			ok(function(data){
				console.log('ok');
				window.location.href = data.url;
			})
			.paramError(function(data){
				console.log(data);
			});
			return false;
		});
	});	
</script>
