{% extends "securities/base.html" %}
{% block main %}
<div class="container">
	<div class="col-md-4">
		<h3><a href="#main" data-toggle="pill">{{object.display_name}}</a></h3>
	</div>
	<div class="col-md-4">
		<h4>现价: {{object.current_price}}</h4>
	</div>
</div>
<div class="tab-content">
	<div class="tab-pane fade in active" id="main">
		<div class="panel panel-default panel-mese2014">
			<div class="panel-heading">最新申请&nbsp;<button class="btn btn-link" id="refreshApplications">刷新</button></div>
		</div>
		<table class="table">
			<thead>
				<th>出价</th>
				<th>股份</th>
				<th>操作</th>
				<th>时间</th>
			</thead>
			<tbody id="applicationsBody">
			{% for app in applications %}
				<tr>
					<th>{{app.price}}</th>
					<th>{{app.shares}}</th>
					<th>{%if app.type == 'SELL'%}卖出{%else%}买入{%endif%}</th>
					<th>{{app.created_time}}</th>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<div class="container">
			<div class="panel panel-default panel-mese2014">
				<div class="panel-heading">我的申请</div>
			</div>	
			<table class="table">
				<thead>
					<th>出价</th>
					<th>股份</th>
					<th>类型</th>
					<th>时间</th>
					<th>操作</th>
				</thead>
				<tbody id="applicationsBody">
				{% for app in mys %}
					<tr>
						<th>{{app.price}}</th>
						<th>{{app.shares}}</th>
						<th>{%if app.type == 'SELL'%}卖出{%else%}买入{%endif%}</th>
						<th>{{app.created_time}}</th>
					</tr>
				{% endfor %}
				</tbody>
			</table>		
		</div>
	</div>
	<div class="tab-pane fade in" id="op">
		<div class="col-md-6 col-md-offset-3">
			<form role="form" id="opForm" class="horizontal-form">
				<div class="form-group">
					<label class="col-sm-3 form-label" for="opPrice">价格</label>
					<div class="col-sm-9">
						<input id="opPrice" type="text" name="price" class="form-control form-login">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 form-label" for="opShares">股份数</label>
					<div class="col-sm-9">
						<input id="opShares" type="text" name="shares" class="form-control form-login">
					</div>
				</div>
				<div class="form-group">
					<label for="opInputCaptcha" class="form-label col-sm-3">验证码</label>
					<div class="col-sm-4">
						<input type="text" name="captcha" class="form-control">
					</div>
					<div class="col-md-5">
						<img name="captcha" class="pull-right"/>
					</div>	
				</div>
				<div class="form-group">
					<div class="col-sm-6">
						<input type="submit" name="sell" class="btn btn-login" value="卖出">
					</div>
					<div class="col-sm-6">
						<input type="submit" name="buy" class="btn btn-login" value="买入">
					</div>					
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block sidebar %}
<div class="container">
{% if share %}
持有份额:{{share.shares}}
{% else %}
未持有该股票
{% endif %}
</div>
<ul class="nav nav-pills nav-stacked nav-utinfo">
	<li><a href="#op" data-toggle="pill"><i class="fa fa-2x fa-bank"></i>操作</a></li>
</ul>
{% endblock %}
{% block extra_script %}
<script type="text/javascript">
$('a[href="#op"]').one('show.bs.tab', function(){
	var $form = $("#opForm");
	$form.find("img[name='captcha']").captcha();
	$form.validate({
		rules: {
			price: {
				required: true,
				number: true,
				min:0
			},
			shares: {
				required: true,
				number: true,
				digits: true
			}
		},
		errorPlacement: function(error, element){
			element.error();
		}
	});
	$form.find("input[type=submit]").click(function(){
		var $this = $(this);
		if (!$form.validate().checkForm()) return false;
		API.url("stocks").id(uid).url($this.attr('name')).post($form.serializeObject())
		.ok(function(data){
		});
	});
	$form.submit(function(e){
		e.preventDefault();
		return false;
	});
});
$(function(){
	window.uid = {{uid}};
	$("#refreshApplications").click(function(){
		API.url('stocks').id(uid).url('applications').param('limit', 100).get()
		.ok(function(data){
			var s = [];
			$(data.results).each(function(){
				 this['op'] = this.type==='SELL'?'卖出':'买入';
				s.push('<tr><th>{price}</th><th>{shares}</th><th>{op}</th><th>{created_time}</th></tr>'.render(this));
			});
			$("#applicationsBody").html(s.join(""));
		});
	});
});
</script>
{% endblock %}